{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% load widget_tweaks %}
{% load allauth %}

{% block head_title %}
    {% trans "Contact Us" %}
{% endblock head_title %}

{% block content %}
<div class="container my-5"> {# Bootstrap container for responsive fixed-width or fluid layout #}
    <div class="row justify-content-center"> {# Bootstrap row to hold columns, centered #}
        <div class="col-md-8"> {# On medium screens and up, takes 8 columns. On smaller screens, takes full width (12 columns) by default due to mobile-first. #}
            <div class="modal-background p-5 rounded shadow-lg"> {# Styling and padding #}
                <h1 class="text-center mb-4">{% trans "Contact Us" %}</h1> {# Text centered #}

                <p class="text-center text-light"> {# Text centered #}
                    {% trans "If you have any questions, feel free to reach out to us through the following contact details." %}
                </p>

                <div class="mb-3">
                    <h4 class="text-warning">{% trans "Email Address" %}</h4>
                    <ul class="list-unstyled">
                        <li>
                            <strong>{% trans "Support" %}:</strong>
                            <a class="text-gold text-break" href="mailto:ds.property.management.florida@gmail.com">ds.property.management.florida@gmail.com</a>
                        </li>
                    </ul>
                </div>

                <div class="mb-3">
                    <h4 class="text-warning">{% trans "Phone Numbers" %}</h4>
                    <ul class="list-unstyled">
                        <li>
                            <strong>{% trans "Customer Support" %}:</strong>
                            <a class="text-gold" href="tel:+1234567890">+1 (234) 567-890</a>
                        </li>
                        <li>
                            <strong>{% trans "Sales" %}:</strong>
                            <a class="text-gold" href="tel:+0987654321">+0 (987) 654-321</a>
                        </li>
                    </ul>
                </div>

            </div>
        </div>
    </div>
</div>

{% block extra_scripts %}
  <script src="{% static 'js/whatsapp.js' %}"></script>
  <script src="{% static 'js/script.js' %}"></script>
{% endblock %}

{% endblock %}