{% extends "base.html" %}

{% block content %}
<div class="d-flex justify-content-center align-items-center" style="min-height: 80vh;">
  <div class="dark-opaque rounded p-4 text-center" style="max-width: 400px; width: 100%;">
    <h2 class="large-gold-text mb-4">Account Dashboard</h2>
    <ul class="list-group list-group-flush d-flex flex-column align-items-center gap-3">
      <li class="d-flex justify-content-center align-items-center gap-3">
        <a href="{% url 'account_reset_password' %}" class="btn btn-outline-gold text-center" style="min-width: 250px;">
          Forgot / Reset Password
        </a>
        <i class="bi bi-arrow-right text-gold fs-5"></i>
      </li>
      <li class="d-flex justify-content-center align-items-center gap-3">
        <a href="{% url 'account_change_password' %}" class="btn btn-outline-gold text-center" style="min-width: 250px;">
          Change Password
        </a>
        <i class="bi bi-arrow-right text-gold fs-5"></i>
      </li>
      <li class="d-flex justify-content-center align-items-center gap-3">
        <a href="{% url 'account_email' %}" class="btn btn-outline-gold text-center" style="min-width: 250px;">
          Manage Email Address
        </a>
        <i class="bi bi-arrow-right text-gold fs-5"></i>
      </li>
      <br>
      <li class="d-flex justify-content-center align-items-center gap-3">
        <a href="{% url 'account_logout' %}" class="btn btn-outline-gold text-center" style="min-width: 250px;">
          Log Out
        </a>
        <i class="bi bi-box-arrow-right text-gold fs-5"></i>
      </li>
    </ul>
  </div>
</div>
{% endblock content %}
