{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% load widget_tweaks %}
{% load allauth %}

{% block head_title %}
{% trans "Confirm Email Address" %}
{% endblock head_title %}

{% block content %}
<div class="container my-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="dark-opaque p-5 rounded shadow-lg">
                <h1 class="text-center mb-4">{% trans "Confirm Email Address" %}</h1>

                {% if confirmation %}
                <div class="text-center large-gold-text">
                    {{ confirmation.email_address.user }}
                </div>
                {% if can_confirm %}
                <p class="text-center text-light">
                    {% blocktrans with confirmation.email_address.email as email %}Please confirm that <a
                        href="mailto:{{ email }}" class="text-warning">{{ email }}</a> is an email address for user 
                        {{user_display }}.{% endblocktrans %}
                </p>

                {% url 'account_confirm_email' confirmation.key as action_url %}
                <form method="post" action="{{ action_url }}">
                    {% csrf_token %}
                    {{ redirect_field }}
                    <div class="text-center">
                        <button type="submit" class="btn btn-warning btn-lg mt-3">{% trans "Confirm" %}</button>
                    </div>
                </form>
                {% else %}
                <p class="text-center text-light">
                    {% blocktrans %}Unable to confirm {{ email }} because it is already confirmed by a different
                    account.{% endblocktrans %}
                </p>
                {% endif %}
                {% else %}
                {% url 'account_email' as email_url %}
                <p class="text-center text-light">
                    {% blocktrans %}This email confirmation link expired or is invalid. Please <a href="{{ email_url }}"
                        class="text-warning">issue a new email confirmation request</a>.{% endblocktrans %}
                </p>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock content %}