{% extends "base.html" %}
{% block title %}Jobs by Status{% endblock %}

{% block content %}
<h2>Pending, In Progress, and Missed Jobs</h2>

{% if jobs %}
<ul class="list-group">
  {% for job in jobs %}
  <li class="list-group-item">
    <a href="{% url 'staff_portal:job_detail' job.pk %}">{{ job.title }}</a> -
    Route:
    {% if job.route %}
    {{ job.route.name }}
    {% else %}
    Unassigned
    {% endif %}
    - Status: {{ job.get_status_display }} - Scheduled: {{ job.scheduled_date }}

    {% endfor %}
</ul>
{% else %}
<p>No jobs with those statuses.</p>
{% endif %}


{% endblock %}